.backlogItem-container {
  display: flex;
  gap: 5px;
}

.backlog-stage {
  &[data-stage="todo"] {
    color: green;
  }
  &[data-stage="in progress"] {
    color: orange;
  }
  &[data-stage="testing"] {
    color: blue;
  }
  &[data-stage="done"] {
    color: grey;
    opacity: 0.7;
  }
}

.backlog-id {
  color: grey;
}

.backlog-assignee {
  margin-left: auto;
}

.backlog-points {
  background-color: lightgrey;
  border-radius: 10px;
  padding-inline: 5px;
  width: 35px;
  text-align: center;
  border-width: 0px;
}
