.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 60vh;
  width: 100%;
  margin-top: 20px;
  background-color: lightgrey;
}

.board__stage {
  display: flex;
  flex-direction: column;
  flex-basis: 24.7%;
  min-width: 250px;
  background-color: aliceblue;
  border: solid 2px black;

  @media (max-width: 1025px) {
    flex-basis: 100%;
  }
}

.taskCard-container {
  position: relative;
  isolation: isolate;
  padding: 10px;
  border-left: 5px solid green;
  margin-top: 3px;

  &:hover {
    background-color: lightgrey;
  }
  &[data-stage="todo"] {
    border-color: green;
  }
  &[data-stage="in progress"] {
    border-color: orange;
  }
  &[data-stage="testing"] {
    border-color: blue;
  }
  &[data-stage="done"] {
    border-color: grey;
  }
}

.taskCard-id {
  color: blue;
}

.taskCard-title {
  max-width: 80%;
}

.taskCard-assignee {
  position: absolute;
  right: 10px;
  top: 10px;
}

.taskCard-points {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: lightgrey;
  border-radius: 10px;
  padding-inline: 5px;
}
